<div class="navbar fixed-bottom align-content-center" id="footer">
<a href="https://github.com/KevinPiriou" target="about_blank" id="github" class="hover-fx"><i class="fab fa-github"></i></a>
  <p>Réalisé par Kévin Piriou pour Jason en Anthestérion de l'an 515 avant JC</p>
<a href="https://www.linkedin.com/in/kevin-piriou/" target="about_blank" id="linkedin" class="hover-fx"><i class="fab fa-linkedin"></i></a>
</div>