   <nav class="navbar navbar-light bg-dark" id="nav">
   <div class="m-1">
  <a class="navbar-brand" href="https://letmegooglethat.com/?q=Wild+Code+School"target="about_blank">
    <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" width="160" height="50" class="" alt="">
  </a>
  </div>
  <div class="titre">
  <h1  id="nav-title">Les Argonautes</h1>
</div>
<div id="pill" onClick= themeChange()>
  <div id="ball">
    <span id="one" class="fa-solid fa-moon"></span>
    <span id="two" class="fa-solid fa-sun"></span>  
  </div>
</div>
</nav>